
<div style="text-align: center">
 <div>
  <% @my_artists.each_with_index do |artist, index| %>
    <a href= "/artists/<%=artist.slugged_name%>"><button class= "my_button" style="width: 60%; font-size:45px;"><%="#{index +1}. #{artist.name}" %> </button></a>
  <% end %>
</div>
</div>
