<!DOCTYPE html>
<html>
    
    <head>
      <title>Playlister</title>
      <link href="/styles.css" rel="stylesheet" type="text/css"/>
      <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
    </head>

    <body>
    <%= yield %>
    </body>

</html>