body {
  margin: 0;
  padding: 0;
  font-family: 'courier';
  background-color: pink;
}


h1 {
  font-size:50pt;
  margin: 50px;
  padding-top:50px;
}

button {
  font-size: 10pt;
  margin:20px;
  padding-top:20px;
}